<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzm.product.mapper.StoreRatingMapper">

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO store_ratings (seller_name, marketplace, rating_score, rating_grade,
            best_match_seller, best_match_score, product_count, overall_score, match_score, rated_at)
        VALUES
        <foreach collection="list" item="r" separator=",">
            (#{r.sellerName}, #{r.marketplace}, #{r.ratingScore}, #{r.ratingGrade},
             #{r.bestMatchSeller}, #{r.bestMatchScore}, #{r.productCount},
             #{r.overallScore}, #{r.matchScore}, NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE
            rating_score = VALUES(rating_score),
            rating_grade = VALUES(rating_grade),
            best_match_seller = VALUES(best_match_seller),
            best_match_score = VALUES(best_match_score),
            product_count = VALUES(product_count),
            overall_score = VALUES(overall_score),
            match_score = VALUES(match_score),
            rated_at = NOW()
    </insert>

    <select id="selectByMarketplace" resultType="com.sjzm.product.entity.StoreRating">
        SELECT * FROM store_ratings
        <where>
            <if test="marketplace != null and marketplace != ''">
                AND marketplace = #{marketplace}
            </if>
        </where>
    </select>

</mapper>
